In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from empiricaldist import Pmf

from IPython.display import display, HTML

display(HTML(
    '<style>'
        '#notebook { padding-top: 0px !important; } ' 
        '.container { width: 100% !important; } '
        '.end_space { min-height: 0px !important; } '
        'table, tr, td { border: 1px  black solid !important; color: black; }'
        'th { border: 1px  black solid !important; color: #130f40; background: #b8e994; }'
    '</style>'
))

In [37]:
taxi_owners = pd.read_pickle(r'C:\000_TBL\001 DATA ANALYSIS\DATACAMP\PYTHON\ProjectFiles\04_Joining_Data_With_Pandas\Datasets\taxi_owners.p')
taxi_veh = pd.read_pickle(r'C:\000_TBL\001 DATA ANALYSIS\DATACAMP\PYTHON\ProjectFiles\04_Joining_Data_With_Pandas\Datasets\taxi_vehicles.p')

In [38]:
taxi_owners

        rid   vid             owner                 address    zip
0     T6285  6285    AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1     T4862  4862      MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2     T1495  1495     FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3     T4231  4231      ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4     T5971  5971    EUNIFFORD INC.     3351 W. ADDISON ST.  60618
...     ...   ...               ...                     ...    ...
3514  T4453  4453   IMAGIN CAB CORP     3351 W. ADDISON ST.  60618
3515   T121   121  TRIBECA CAB CORP     4536 N. ELSTON AVE.  60630
3516  T3465  3465  AMIR EXPRESS INC     3351 W. ADDISON ST.  60618
3517  T1962  1962  KARY CAB COMPANY     4707 N. KENTON AVE.  60630
3518  T1031  1031       NECT 42 LLC    6500 N. WESTERN AVE.  60645

[3519 rows x 5 columns]

In [39]:
taxi_veh

       vid     make    model  year  fuel_type                owner
0     2767   TOYOTA    CAMRY  2013     HYBRID       SEYED M. BADRI
1     1411   TOYOTA     RAV4  2017     HYBRID          DESZY CORP.
2     6500   NISSAN   SENTRA  2019   GASOLINE       AGAPH CAB CORP
3     2746   TOYOTA    CAMRY  2013     HYBRID  MIDWEST CAB CO, INC
4     5922   TOYOTA    CAMRY  2013     HYBRID       SUMETTI CAB CO
...    ...      ...      ...   ...        ...                  ...
3514  5902   TOYOTA    CAMRY  2013     HYBRID            SAFAR INC
3515  1407  HYUNDAI  ELANTRA  2018   GASOLINE    MYKONOS CAB CORP.
3516   854   TOYOTA    CAMRY  2012     HYBRID      JOELIZ CORP INC
3517  6274   TOYOTA    CAMRY  2012     HYBRID          A K O S INC
3518  4675     FORD   ESCAPE  2011  FLEX FUEL           MAJAZ CORP

[3519 rows x 6 columns]

In [40]:
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own_l','_veh_r'))

In [41]:
taxi_own_veh

,rid,vid,owner_own_l,address,zip,make,model,year,fuel_type,owner_veh_r
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.
...,...,...,...,...,...,...,...,...,...,...
3514,T4453,4453,IMAGIN CAB CORP,3351 W. ADDISON ST.,60618,FORD,ESCAPE,2010,HYBRID,IMAGIN CAB CORP
3515,T121,121,TRIBECA CAB CORP,4536 N. ELSTON AVE.,60630,FORD,C-MAX,2014,HYBRID,TRIBECA CAB CORP
3516,T3465,3465,AMIR EXPRESS INC,3351 W. ADDISON ST.,60618,TOYOTA,CAMRY,2014,HYBRID,AMIR EXPRESS INC
3517,T1962,1962,KARY CAB COMPANY,4707 N. KENTON AVE.,60630,TOYOTA,CAMRY,2014,HYBRID,KARY CAB COMPANY
3518,T1031,1031,NECT 42 LLC,6500 N. WESTERN AVE.,60645,FORD,FUSION,2014,HYBRID,NECT 42 LLC

In [42]:
# Print the value_counts to find the most popular fuel_type
taxi_own_veh['fuel_type'].value_counts()

HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: fuel_type, dtype: int64